.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 2rem;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  flex-shrink: 0;
}
.header-logo {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
}
.header-list {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}
.list-item {
  text-decoration: none;
}
.item-connection,
.item-start {
  border: none;
  background: transparent;
  width: 3rem;
  font-size: 1.3rem;
  cursor: pointer;
}
