.result-div {
  width: 100%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}
.result-table {
  min-width: 100%;
  width: max-content;
  table-layout: fixed;
  border-collapse: collapse;
}
.header-th {
  width: 150px;
  min-width: 80px;
  position: sticky;
  top: 0;
  padding: 1rem;
  text-align: left;
  z-index: 2;
  resize: horizontal;
  overflow: auto;
}
.body-td {
  padding: 1rem;
}
.result-msg {
  padding: 2rem;
}
